
.content{
    width: 20rem;
    height: 10rem;
    border : 1px solid gray;
    flex-flow: row wrap;
    justify-content: center;
}
.font1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.font2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
}
.font3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.font4{
    font-family: 'Zen Dots', cursive;
    font-size: 30px;
}
.font5{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.font6{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}
.font7{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}
.font8{
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 30px;
}
