.transition{
    margin-left : 100px;
    width: 250px;
    height: 250px;
    background-color: black;
    transition: 10s cubic-bezier(0.19, 1, 0.22, 1);
}

.playing{
    transform: translate(500px);
}